@import './reset.scss';
.mint-header {
    box-shadow: 0 1px 6px $baseColor;
    max-width: 640px;
    margin: 0 auto;
    img {
        vertical-align: top;
    }
}

.mint-tabbar {
    max-width: 640px;
    margin: 0 auto;
    box-shadow: 0 -1px 6px #eee;
    position: fixed;
}

.curriculumList {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 55px;
    li {
        $li-height: 120px;
        $img-height: 100px;
        position: relative;
        width: 100%;
        height: $li-height;
        &+li {
            border-top: 1px solid #f0f0f0;
        } // 左侧图片
        .imgbox {
            position: relative;
            float: left;
            margin-top: ($li-height - $img-height) / 2;
            margin-left: 10px;
            width: $img-height;
            height: $img-height;
            img {
                width: 100%;
                height: 100%;
            }
            span{
                position: absolute;
                left: 0;
                bottom: 0;
                font-size: 12px;
                background: rgba( 0, 0, 0,.5);
                color: #fff;
                width: 100%;
                text-align: center;
                display: block;
                &.integral{
                    bottom: 16px;
                }
            }
        } // 中间信息
        .middle {
            position: relative;
            float: left;
            width: calc(100% - #{$img-height} - 10px - #{$li-height});
            margin-top: ($li-height - $img-height) / 2;
            height: $img-height;
            padding-left: 15px;
            .dateTime {
                font-size: 12px;
                color: 666;
            }
            .mint-badge {
                margin-top: 10px;
                margin-left: 10px;
            }
            .Number {
                position: absolute;
                font-size: 18px;
                font-weight: bold;
                width: 48px;
                left: 15px;
                bottom: 16px;
                text-align: center;
            }
            .dhsl {
                position: absolute;
                bottom: 0;
                left: 15px;
                font-size: 12px;
            }
        } // 右侧按钮
        .btnArea {
            float: right;
            width: $li-height;
            height: 100%;
            button {
                margin-left: 34px;
                &:first-of-type {
                    margin-top: 22px;
                    margin-bottom: 10px;
                }
                &.success {
                    background: #4caf50;
                }
            }
        }
    }
}

// 添加课程
#add {
    overflow: hidden;
    .addForm {
        .upload {
            $h: 100px;
            border-bottom: 1px solid #f0f0f0;
            width: 100%;
            height: $h;
            .title {
                height: 100%;
                width: 86px;
                display: inline-block;
                text-align: center;
                line-height: $h;
                font-size: 16px;
            }
            .imgbox {
                $img-height: 80px;
                width: $img-height;
                height: $img-height;
                float: right;
                margin-top: 10px;
                margin-right: 10px;
                background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAABQBAMAAAB8P++eAAAAHlBMVEXu7u5gYGAzMzPo6OhVVVXi4uJzc3NycnI9PT0yMjLxbnAyAAAAQ0lEQVRIx2MYBaNgFIwCsgCLAJEKmUYVjiqEA3NBMBBqhNDJOBWaKEHAJAjlPBg9M6pwkCskupBiDWAYBaNgFAxhAAAzSAcOLVThbgAAAABJRU5ErkJggg==);
                img {
                    width: 100%;
                    height: 100%;
                }
                input {
                    display: none;
                }
            }
        }
        .mint-field input {
            font-size: 14px;
        }
        .mint-button {
            width: 60%;
            margin: 50px auto;
        }
    }
    .maskUpload {
        position: fixed;
        width: 100%;
        height: 60%;
        bottom: 0;
        left: 0;
        background: #ccc;
        @include transform(translateY(100%));
        @include transition(all .5s);
        &.open {
            @include transform(translateY(0));
        }
        #clipArea {
            width: 100%;
            height: calc(100% - 50px);
            .photo-clip-view {
                background: #fff;
            }
        }
        .btnArea {
            width: 100%;
            height: 50px;
            text-align: center;
            button {
                margin: 6px 15px;
            }
        }
    }
}

// 兑换
#exchange {
    height: 100%;
    .exchangeForm {
        width: 100%;
        height: calc(100% - 95px);
        @include flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        input {
            width: 60%;
            height: 40px;
            border: 1px solid #666;
            border-radius: 4px;
            padding: 0 10px;
        }
        button {
            width: 60%;
            margin: 0 auto;
        }
    }
}

// 登录
#login {
    @include flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    //  background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
    background: url(../img/loginbg.jpg);
    .addForm {
        border-radius: 10px; 
        box-shadow: 0 0 6px #ccc;
        background: #fff;
        padding: 5px;
        width: 290px;
        h2 {
            text-align: center;
            color: #7DAFB8;
            margin-bottom: 50px;
            font-size: 26px;
        }
        .mint-cell {
            background: transparent;
            input {
                background: transparent;
            }
        }
        button{
            width: 60%;
            margin: 15px auto;
            display: block;
            background-color: #7DAFB8;
        }
    }
}