<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>和润心理</title>
    <link rel="stylesheet" href="./css/mint-ui.2.2.7.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div id="index" :class="{'see':see}">
        <mt-header title="和润心理" fixed>
            <a href="javascript:;" slot="left" @click="signOut()"><mt-button><img src="./img/icon/drop.svg" alt="退出"></mt-button></a>
            <a href="add.html" slot="right">
                <mt-button><img src="./img/icon/add.svg" alt="添加"></mt-button>
            </a>
        </mt-header>
        <ul class="curriculumList"  v-infinite-scroll="loadMore" infinite-scroll-disabled="true" infinite-scroll-distance="10" infinite-scroll-immediate-check="false">
            <li v-for="item in curriculumList" :key="item.id" :data-id="item.id">
                <div class="imgbox">
                    <a :href="item.url">
                        <img :src="baseImageUrl+item.img"  alt="课程图片">
                        <span class="integral">{{item.integral}}分</span>
                        <span>{{item.name}}</span>
                    </a>
                </div>
                <div class="middle">
                    <p class="dateTime">{{item.updateTime}}</p>
                    <mt-badge size="small" :color="badgeColor(item.status)">{{item.status|status(0)}}</mt-badge>
                    <p class="Number">{{item.count}}</p>
                    <span class="dhsl">兑换数量</span>
                </div>
                <div class="btnArea">
                    <mt-button size="small" type="danger" :class="{'success':!item.status}" @click.native="downAndUp(item.status,item.id)">{{item.status|status(1)}}</mt-button>
                    <mt-button size="small" type="primary" :disabled="item.status==1" @click.native="edit(item.id,item.img,item.name,item.integral,item.url)">编辑</mt-button>
                </div>
                <div class="clr"></div>
            </li>
            
        </ul>
        <mt-tabbar v-model="selected">
            <mt-tab-item id="管理">
                <img slot="icon" src="./img/icon/management.svg"> 管理
            </mt-tab-item>
            <mt-tab-item id="兑换">
                <img slot="icon" src="./img/icon/exchange.svg"> 兑换
            </mt-tab-item>
        </mt-tabbar>
    </div>
    <script src="https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.3.4/vue.min.js"></script>
    <script src="./js/mint-ui.2.2.7.min.js"></script>
    <script src="./js/sct.min.js"></script>
    <script src="./js/service.js"></script>
    <script src="./js/index.js"></script>
</body>

</html>